In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [17]:
import pandas as pd
import numpy as np
import timestring
import os

ModuleNotFoundError: No module named 'timestring'

In [3]:
collisions_rawdata = pd.read_csv('GitHub/data/Collisions.csv', sep=',',header=0)
collisions = collisions_rawdata.copy()
buildings_rawdata = pd.read_csv('GitHub/data/clean_permits.csv', sep=',',header=0, index_col = 0)
buildings = buildings_rawdata.copy()

In [32]:
collisions = collisions[["objectid",
                          "X",
                          "Y",
                           "incdate",
                           "incdttm",
                          "pedcount",
                          "pedcylcount",
                          "severitycode",
                          "severitydesc"]]
collisions.dropna(inplace=True)
collisions = collisions.rename(columns={"objectid": "c_id", 
                                      "X": "c_long", 
                                      "Y":"c_lat", 
                                      "incdate": "c_date", 
                                      "incdttm":"c_datetime",
                                      "pedcount": "c_ped",
                                      "pedcylcount" : "c_cyc",
                                       "severitycode" : "c_severity_code",
                                       "severitydesc" : "c_severity_desc"})
collisions['c_veh'] = np.where(collisions['c_cyc']==0,np.where(collisions['c_ped']==0,1,0),0)
collisions = collisions[collisions["c_severity_desc"] != "Unknown"]
collisions.shape
#collisions.to_csv('processed_collisions.csv')

(191019, 10)

In [34]:
collisions = collisions[collisions["c_severity_desc"] != "Unknown"]
collisions.shape

(173899, 10)

In [35]:
def collision_clean(file_path):
    collisions = pd.read_csv(file_path, sep=',',header=0)
    collisions = collisions[["objectid",
                              "X",
                              "Y",
                               "incdate",
                               "incdttm",
                              "pedcount",
                              "pedcylcount",
                              "severitycode",
                              "severitydesc"]]
    collisions.dropna(inplace=True)
    collisions = collisions.rename(columns={"objectid": "c_id", 
                                          "X": "c_long", 
                                          "Y":"c_lat", 
                                          "incdate": "c_date", 
                                          "incdttm":"c_datetime",
                                          "pedcount": "c_ped",
                                          "pedcylcount" : "c_cyc",
                                           "severitycode" : "c_severity_code",
                                           "severitydesc" : "c_severity_desc"})
    collisions['c_veh'] = np.where(collisions['c_cyc']==0,np.where(collisions['c_ped']==0,1,0),0)
    collisions = collisions[collisions["c_severity_desc"] != "Unknown"]
    collisions.to_csv('processed_collisions.csv')
    return collisions

In [29]:
c_clean = collision_clean("GitHub/data/Collisions.csv")

In [31]:
c_clean.c_severity_desc.value_counts()
c_clean.shape

Property Damage Only Collision    119799
Injury Collision                   51126
Unknown                            17120
Serious Injury Collision            2671
Fatality Collision                   303
Name: c_severity_desc, dtype: int64

(191019, 10)

In [16]:
buildings["Category"].value_counts()
buildings.iterrows()

timestring.Date(buildings["b_issue_date"]).date

SINGLE FAMILY / DUPLEX    30718
COMMERCIAL                16148
MULTIFAMILY                6814
INSTITUTIONAL              1562
INDUSTRIAL                  661
Name: Category, dtype: int64

NameError: name 'timestring' is not defined

In [ ]:
for b in buildings.iterrows():
                    'build_start_dt': timestring.Date(b["b_issue_date"]).date,
                    'build_end_dt': timestring.Date(b["b_final_date"]).date,
                    'coll_dt': timestring.Date(c["c_datetime"]).date,

Some issues with date formats, need to decide how to format the pedestrian cyclist count.
Add filename error
Add unit tests = check null values,

len(collisions2[collisions["pedcount"]

In [36]:
def buildings_clean(file_path):
    buildings = pd.read_csv(file_path, sep=',',header=0, index_col = 0)
    buildings = buildings[["Application/Permit Number",
                         "Permit Type",
                         "Category", 
                         "Action Type",
                         "Work Type",
                         "Value",
                         "Issue Date",
                         "Final Date",
                         "Expiration Date",
                         "Status",
                         "Latitude",
                         "Longitude"]]
    buildings = buildings[buildings["Action Type"]=="NEW"]
    buildings = buildings[buildings["Category"]=="COMMERCIAL"]
    buildings = buildings[buildings["Value"] > 250000]
    buildings = buildings[pd.notnull(buildings["Issue Date"])]
    buildings = buildings[pd.notnull(buildings["Final Date"]) | pd.notnull(buildings["Expiration Date"])]
    buildings = buildings[buildings["Status"] != "CANCELLED"]
    buildings = buildings.rename(columns={"Application/Permit Number": "b_id", 
                                          "Permit Type": "b_permit_type", 
                                          "Category" : "b_category", 
                                          "Action Type" : "b_action_type", 
                                          "Work Type" : "b_work_type",
                                          "Value": "b_value",
                                          "Issue Date" : "b_issue_date",
                                          "Final Date" : "b_final_date",
                                       "Expiration Date" : "b_expiration_date",
                                       "Status" : "b_status",
                                       "Latitude" : "b_lat",
                                        "Longitude" : "b_long" })
    buildings.to_csv('buildings_clean.csv')
    return buildings

In [37]:
dan = buildings_clean('GitHub/data/clean_permits.csv')

In [40]:
dan.b_status.value_counts()

Permit Closed                   236
Permit Issued                   221
Cert of Occupancy Authorized     10
Permit Finaled                    5
Name: b_status, dtype: int64

In [14]:
#buildings data cleaning
len(buildings["Application/Permit Number"])
len(set(buildings["Application/Permit Number"]))
buildings.columns
buildings.head()

59166

59163

Index(['Application/Permit Number', 'Permit Type', 'Address', 'Description',
       'Category', 'Action Type', 'Work Type', 'Value', 'Applicant Name',
       'Application Date', 'Issue Date', 'Final Date', 'Expiration Date',
       'Status', 'Contractor', 'Permit and Complaint Status URL',
       'Master Use Permit', 'Latitude', 'Longitude', 'Location'],
      dtype='object')

,Application/Permit Number,Permit Type,Address,Description,Category,Action Type,Work Type,Value,Applicant Name,Application Date,Issue Date,Final Date,Expiration Date,Status,Contractor,Permit and Complaint Status URL,Master Use Permit,Latitude,Longitude,Location
0,6640897,Demolition,700 22ND AVE,"Demolish existing church, per plan.",COMMERCIAL,DEMOLITION,Plan Review,0.0,"SQUIRES, GREG",2018-01-31,2018-03-06,NaN,2019-09-06,Permit Issued,NaN,http://web6.seattle.gov/dpd/PermitStatus/Proje...,NaN,47.608206,-122.303403,"700 22ND AVE\n(47.60820558, -122.30340248)"
1,6648574,Demolition,5045 26TH AVE SW,"Demolish existing single-family residence, per...",SINGLE FAMILY / DUPLEX,DEMOLITION,No plan review,0.0,"LEDOUX, JULIE",2018-03-06,NaN,NaN,NaN,Reviews Completed,NaN,http://web6.seattle.gov/dpd/PermitStatus/Proje...,NaN,47.556140,-122.365875,"5045 26TH AVE SW\n(47.55614034, -122.36587533)"
2,6623889,Construction,2563 27TH AVE W,"Complete and final to AP# 6324087, subject to ...",SINGLE FAMILY / DUPLEX,ADD/ALT,No plan review,8000.0,"WAGAR, JAMES & JANA",2018-03-06,2018-03-06,NaN,2019-09-06,Permit Issued,NaN,http://web6.seattle.gov/dpd/PermitStatus/Proje...,NaN,47.642781,-122.391991,"2563 27TH AVE W\n(47.64278125, -122.39199076)"
3,6561444,Construction,2552 24TH AVE W,Construct alterations to existing single famil...,SINGLE FAMILY / DUPLEX,ADD/ALT,Plan Review,10000.0,"FRANKLIN, JUSTIN",2017-01-12,2018-01-29,2018-03-06,2019-07-29,Permit Closed,NaN,http://web6.seattle.gov/dpd/PermitStatus/Proje...,NaN,47.642358,-122.387434,"2552 24TH AVE W\n(47.64235768, -122.38743397)"
4,6617027,Construction,3724 CORLISS AVE N,Construct addition and substantial alterations...,SINGLE FAMILY / DUPLEX,ADD/ALT,Plan Review,214223.0,"TRIEGER, JOHN",2017-10-31,2018-01-30,NaN,2019-07-30,Permit Issued,MOUNTAIN TOP BUILDERS,http://web6.seattle.gov/dpd/PermitStatus/Proje...,NaN,47.652753,-122.331250,"3724 CORLISS AVE N\n(47.65275295, -122.33124969)"

In [21]:
buildings1 = buildings[["Application/Permit Number",
                         "Permit Type",
                         "Category", 
                         "Action Type",
                         "Work Type",
                         "Value",
                         "Issue Date",
                         "Final Date",
                         "Expiration Date",
                         "Status",
                         "Latitude",
                         "Longitude"]]

In [43]:
buildings1 = buildings1[buildings1["Action Type"]=="NEW"]
buildings1 = buildings1[buildings1["Value"] > 250000]
buildings1 = buildings1[buildings1["Value"] > 250000]
buildings1.Category.value_counts()
#dan = buildings1.dropna().shape
buildings1.head()
buildings1 = buildings1[pd.notnull(buildings1["Issue Date"])]
buildings1 = buildings1[pd.notnull(buildings1["Final Date"]) | pd.notnull(buildings1["Expiration Date"])]
buildings1 = buildings1[buildings1["Status"] != "CANCELLED"]

SINGLE FAMILY / DUPLEX    2990
MULTIFAMILY               1294
COMMERCIAL                 477
INSTITUTIONAL               60
INDUSTRIAL                  24
Name: Category, dtype: int64

,Application/Permit Number,Permit Type,Category,Action Type,Work Type,Value,Issue Date,Final Date,Expiration Date,Status,Latitude,Longitude
10,6552481,Construction,SINGLE FAMILY / DUPLEX,NEW,Plan Review,260717.0,2017-06-06,NaN,2018-12-06,Permit Issued,47.589004,-122.304421
23,6584024,Construction,MULTIFAMILY,NEW,Plan Review,529743.0,2018-03-06,NaN,2019-09-06,Permit Issued,47.672580,-122.377729
46,6588004,Construction,SINGLE FAMILY / DUPLEX,NEW,Plan Review,454332.0,2018-03-06,NaN,2019-09-06,Permit Issued,47.691512,-122.369646
71,6440671,Construction,MULTIFAMILY,NEW,Plan Review,786928.0,2016-04-26,2017-06-27,2017-10-26,Permit Finaled,47.621190,-122.298079
143,6337999,Construction,SINGLE FAMILY / DUPLEX,NEW,Plan Review,383433.0,2013-05-21,2014-06-18,2014-11-21,Permit Closed,47.674027,-122.383519

In [47]:
buildings1["Status"].value_counts()

buildings1.columns
len(buildings1["Application/Permit Number"])
len(set(buildings1["Application/Permit Number"]))

Permit Closed                   2753
Permit Issued                   1754
Permit Finaled                   270
Cert of Occupancy Authorized      56
Name: Status, dtype: int64

Index(['Application/Permit Number', 'Permit Type', 'Category', 'Action Type',
       'Work Type', 'Value', 'Issue Date', 'Final Date', 'Expiration Date',
       'Status', 'Latitude', 'Longitude'],
      dtype='object')

4833

4833

In [ ]:
buildings1["b_end_date"] =

In [49]:
buildings1 = buildings1.rename(columns={"Application/Permit Number": "b_id", 
                                          "Permit Type": "b_permit_type", 
                                          "Category" : "b_category", 
                                          "Action Type" : "b_action_type", 
                                          "Work Type" : "b_work_type",
                                          "Value": "b_value",
                                          "Issue Date" : "b_issue_date",
                                          "Final Date" : "b_final_date",
                                       "Expiration Date" : "b_expiration_date",
                                       "Status" : "b_status",
                                       "Latitude" : "b_latitude",
                                        "Longitude" : "b_longitude" })
buildings1.head()

,b_id,b_permit_type,b_category,b_action_type,b_work_type,b_value,b_issue_date,b_final_date,b_expiration_date,b_status,b_latitude,b_longitude
10,6552481,Construction,SINGLE FAMILY / DUPLEX,NEW,Plan Review,260717.0,2017-06-06,NaN,2018-12-06,Permit Issued,47.589004,-122.304421
23,6584024,Construction,MULTIFAMILY,NEW,Plan Review,529743.0,2018-03-06,NaN,2019-09-06,Permit Issued,47.672580,-122.377729
46,6588004,Construction,SINGLE FAMILY / DUPLEX,NEW,Plan Review,454332.0,2018-03-06,NaN,2019-09-06,Permit Issued,47.691512,-122.369646
71,6440671,Construction,MULTIFAMILY,NEW,Plan Review,786928.0,2016-04-26,2017-06-27,2017-10-26,Permit Finaled,47.621190,-122.298079
143,6337999,Construction,SINGLE FAMILY / DUPLEX,NEW,Plan Review,383433.0,2013-05-21,2014-06-18,2014-11-21,Permit Closed,47.674027,-122.383519

In [55]:
buildings1["b_end_date"] = buildings1[np.where(buildings1["b_final_date"].notnull())]

TypeError: unhashable type: 'numpy.ndarray'