In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
#Import packages
import pandas as pd
import numpy as np
from datetime import datetime

In [3]:
#Sample use of datetime, parameters(year, month, day)
datetime(2013,1,1)
print(datetime(2013,1,1))

datetime.datetime(2013, 1, 1, 0, 0)

2013-01-01 00:00:00

In [5]:
#Import processed collisions and buildings datasets
processed_collisions = pd.read_csv('../seattlecollision/data/processed_collisions_outfile.csv', sep=',',header=0, index_col=0)
processed_collisions.head()
processed_buildings = pd.read_csv('../seattlecollision/data/processed_buildings_outfile.csv', sep=',',header=0, index_col=0)
processed_buildings.head()

,c_id,c_long,c_lat,c_datetime,c_ped,c_cyc,c_severity_code,c_severity_desc,c_veh
0,162244138,-122.342323,47.627572,2016-11-04,0,0,1,Property Damage Only Collision,1
1,162244139,-122.301639,47.630771,2016-12-01,0,0,1,Property Damage Only Collision,1
2,162244140,-122.290784,47.719253,2016-12-23,0,0,1,Property Damage Only Collision,1
3,162244141,-122.322535,47.623135,2016-12-21,0,0,1,Property Damage Only Collision,1
4,162244142,-122.376803,47.689665,2016-12-23,0,0,1,Property Damage Only Collision,1

,b_id,b_category,b_value,b_issue_date,b_final_date,b_status,b_lat,b_long
736,6401146,COMMERCIAL,30208787.0,2015-04-24,2017-08-24,Permit Closed,47.632094,-122.341914
773,6461320,COMMERCIAL,1100786.0,2016-01-27,2016-11-23,Permit Closed,47.674024,-122.263702
780,6405731,MULTIFAMILY,3232908.0,2014-12-23,2016-11-17,Permit Closed,47.561275,-122.388621
814,6329942,MULTIFAMILY,2649941.0,2013-10-25,2015-02-24,Permit Closed,47.623012,-122.323386
848,6404113,COMMERCIAL,6257221.0,2016-01-26,2017-12-28,Cert of Occupancy Authorized,47.623695,-122.336230

In [6]:
#It seems like the datetime format does not hold after being exported to a CSV.
#It has to be converted back into a datetime
processed_collisions['c_datetime'] = pd.to_datetime(processed_collisions['c_datetime'])
processed_buildings['b_issue_date'] = pd.to_datetime(processed_buildings['b_issue_date'])
processed_buildings['b_final_date'] = pd.to_datetime(processed_buildings['b_final_date'])

In [9]:
#Create sample date from collisions and buildings
sampledate1 = processed_collisions["c_datetime"][1]
sampledate2 = processed_buildings["b_issue_date"][736]
sampledate1
sampledate2

Timestamp('2016-12-01 00:00:00')

Timestamp('2015-04-24 00:00:00')

In [10]:
#Using inequalities on dates
sampledate1 > sampledate2

True

In [11]:
#Taking difference between dates
sample_diff = sampledate1 - sampledate2
np.abs(sample_diff.days)

587