In [1]:
import branca
import csv
import datetime
import folium
import sqlite3
import ipywidgets as widgets
import numpy as np
import pandas as pd
import draw_markers
import table_builder

In [2]:
table_builder.create_table("my_db","data/")

In [3]:
connection = sqlite3.connect("my_db")
crsr = connection.cursor()

In [158]:
def build_type_interact(Building_Category):
    
    if Building_Category == "All":
         where_query = "WHERE b.b_id = r.build_id "
    else:
        where_query = str("""WHERE b.b_id = r.build_id and b.b_category = """ + str("'" + Building_Category + "'"))
    select_query = """SELECT b.b_id as b_id, 
    b.b_lat as b_latitude,
    b.b_long as b_longitude, 
    sum(r.coll_before) AS col_before, 
    sum(r.coll_during) AS col_during, 
    sum(r.coll_after) AS col_after """
    from_query = """FROM buildings b, Coll_Within_One_Year_of_Const r """
    group_by_query = """ GROUP BY b.b_id, b.b_lat, b.b_long"""
    whole_query = str(select_query + from_query + where_query + group_by_query)
#     print(whole_query)
    crsr.execute(whole_query)
    temp = pd.DataFrame(crsr.fetchall())
    temp.columns = list(map(lambda x: x[0], crsr.description))
    temp['b_latitude'] = temp.b_latitude.astype(float)
    temp['b_longitude'] = temp.b_longitude.astype(float)
    return draw_markers.place_maps(temp)

categories = ['All','COMMERCIAL','MULTIFAMILY', 'INDUSTRIAL','INSTITUTIONAL','SINGLE FAMILY / DUPLEX']

In [4]:
from query_class import CollidiumQuery

# def build_type_interact(building_category):
#     cq = CollidiumQuery
#     cq.set_b_category(building_category)

#     whole_query = cq.get_qstring()
#     print(whole_query)
#     crsr.execute(whole_query)
#     temp = pd.DataFrame(crsr.fetchall())
#     temp.columns = list(map(lambda x: x[0], crsr.description))
#     temp['b_latitude'] = temp.b_latitude.astype(float)
#     temp['b_longitude'] = temp.b_longitude.astype(float)
#     return draw_markers.place_maps(temp)

# categories = ['All','COMMERCIAL','MULTIFAMILY', 'INDUSTRIAL','INSTITUTIONAL','SINGLE FAMILY / DUPLEX']

# build_type_interact('COMMERCIAL')

cq = CollidiumQuery()
cq.set_b_category(['MULTIFAMILY', 'SINGLE FAMILY / DUPLEX'])
# cq.set_b_category('MULTIFAMILY')

In [9]:
def create_map(data, period):
    """
    Creates a map and plots new buildings (location) and collisions (marker size)

    Args:
    data: a dataframe that contains the following fields:
        b_id (int): buiding id number (key)
        b_latitude (float): latitude of building
        b_longitude (float): longitude of building
        col_before (int): Number of collisions that happend in period prior
        to construction
        col_duirng (int): Number of collisions that happend in period during
        construction
        col_after (int): Number of collisions that happend in period after
        construction

    period (string): String of value "before", "during" or "after"
        indicating whether function should plot volume of collisions before,
        during or after construction

    Returns:
    Image of map with building locations plotted on it. The size of the
    marker corresponds to the number of collisions that happened in the
    period (e.g., before, during or after) identified in the inputs

    Raises:
        IndexError: If a dataframe is passed to the create_map function or
        the place_maps function that does not contain the correct fields, an
        Index Error is raised.

        KeyError: If a string other than "before", "during", or "after" is
        passed as the second argument to create_map then a KeyError is
        raised.

        ValueError: If input data is too big it is difficult to render in
        jupyter. If this happens, a ValueError is raised.

    """

    true_set = set(['b_id', 'b_lat', 'b_long', 'before', 'during', 'after'])

    if not set(list(data)) == true_set:
         raise IndexError("Data set does not contain correct fields %s" % true_set)

    if data.shape[0] > 800:
        raise TypeError("Please select 800 or fewer observations from dataframe.")

    location = [np.mean(data['b_lat']), np.mean(data['b_long'])]

    my_map = folium.Map(location=location, zoom_start=11)

    for index, row in data.iterrows(): #pylint: disable=unused-variable
        folium.CircleMarker(
            location=[row['b_lat'], row['b_long']],
            radius=row[str(period)]/20,
            fill=True,
            fill_color='#132b5e').add_to(my_map)
    return my_map


def place_maps(data):
    """
    Draws three maps, plotting buiding permit locations with size
    representing number of collisions. Maps included show collisions,
    before, during and after building construction.

    Args:
    data: a dataframe that contains the following fields:
        b_id (int): buiding id number (key)
        b_latitude (float): latitude of building
        b_longitude (float): longitude of building
        col_before (int): Number of collisions that happend in period prior
        to construction
        col_duirng (int): Number of collisions that happend in period during
        construction
        col_after (int): Number of collisions that happend in period after
        construction.

    Returns:
        Three map images, with building permit locations identified. Maps
        each show building locations (location of dot), and number of
        collisions (size of dot). The three maps shown include collisions
        before construction (left), during construction (middle) and after
        construction (right).

    Raises
        IndexError: If a dataframe is passed to the create_map function or
        the place_maps function that does not contain the correct fields, an
        Index Error is raised.
    """

    map_grid = branca.element.Figure()

    map_1 = create_map(data, "before")
    map_2 = create_map(data, "during")
    map_3 = create_map(data, "after")

    loc_1 = map_grid.add_subplot(1, 3, 1)
    loc_2 = map_grid.add_subplot(1, 3, 2)
    loc_3 = map_grid.add_subplot(1, 3, 3)

    loc_1.add_child(map_1)
    loc_2.add_child(map_2)
    loc_3.add_child(map_3)

    return map_grid

In [25]:
def generate_table(query):
    connection = sqlite3.connect("my_db")
    crsr = connection.cursor()
    crsr.execute(query)
    temp = pd.DataFrame(crsr.fetchall())
    temp.columns = list(map(lambda x: x[0], crsr.description))
    temp['b_lat'] = temp.b_lat.astype(float)
    temp['b_long'] = temp.b_long.astype(float)
    return temp

def build_type_interact(building_type):
    cq = CollidiumQuery()
    cq.set_b_category(building_category)
    whole_query = cq.get_qstring()

    mapping_data = generate_table(whole_query)
    return draw_markers.place_maps(mapping_data)
categories = ['All','COMMERCIAL','MULTIFAMILY', 'INDUSTRIAL','INSTITUTIONAL','SINGLE FAMILY / DUPLEX']

In [26]:
widgets.interact(build_type_interact, building_category = categories, data_base = "my_db")

interactive(children=(Dropdown(description='building_category', options=('All', 'COMMERCIAL', 'MULTIFAMILY', '…

NameError: name 'test' is not defined

In [139]:
def time_frame_interact(num_days):

    where_query = str("WHERE b.b_id = r.build_id AND (r.coll_days_from_build BETWEEN 0 AND " + 
                      str(num_days) + " OR r.coll_days_from_build BETWEEN -1 AND" + str(-num_days) + ")")
    select_query = """SELECT b.b_id as b_id, 
    b.b_lat as b_latitude,
    b.b_long as b_longitude, 
    sum(r.coll_before) AS col_before, 
    sum(r.coll_during) AS col_during, 
    sum(r.coll_after) AS col_after """
    from_query = """FROM buildings b, Coll_Within_One_Year_of_Const r """
    group_by_query = """ GROUP BY b.b_id"""
    whole_query = str(select_query + from_query + where_query + group_by_query)
    crsr.execute(whole_query)
    temp = pd.DataFrame(crsr.fetchall())
    temp.columns = list(map(lambda x: x[0], crsr.description))
    temp['col_during'] = temp['col_during'] * num_days/365
    temp['b_latitude'] = temp.b_latitude.astype(float)
    temp['b_longitude'] = temp.b_longitude.astype(float)
#     print("bef: ", sum(temp.col_before), "dur: ",sum(temp.col_during), "aft: ",sum(temp.col_after))
    return draw_markers.place_maps(temp)

In [141]:
widgets.interact(time_frame_interact, num_days = (65,365,60))

interactive(children=(IntSlider(value=185, description='num_days', max=365, min=65, step=60), Output()), _dom_…

In [125]:
def build_value_interact(value):

    where_query = str("""WHERE b.b_id = r.build_id and (b.b_value > """ + str(value[0]*1000000) + ")") # """ AND b.b_value < """ + str(value[1]*1000000) + ")")
    select_query = """SELECT b.b_id as b_id, 
    b.b_lat as b_latitude,
    b.b_long as b_longitude, 
    sum(coll_before) AS col_before, 
    sum(coll_during) AS col_during, 
    sum(coll_after) AS col_after """
    from_query = """FROM buildings b, Coll_Within_One_Year_of_Const r """
    group_by_query = """ GROUP BY b.b_id, b.b_lat, b.b_long"""
    whole_query = str(select_query + from_query + where_query + group_by_query)
#     print(whole_query)
    crsr.execute(whole_query)
    temp = pd.DataFrame(crsr.fetchall())
    temp.columns = list(map(lambda x: x[0], crsr.description))
    temp['b_latitude'] = temp.b_latitude.astype(float)
    temp['b_longitude'] = temp.b_longitude.astype(float)
    return draw_markers.place_maps(temp)

In [134]:
value = [100,10]

# where_query = str("""WHERE b.b_id = r.build_id and (b.b_value > """ + str(value[0]*1000000) + ")") # """ AND b.b_value < """ + str(value[1]*1000000) + ")")
where_query = str("""WHERE b.b_value < 1500000""")# + str(value[0]*1000000)) #+ """ AND b.b_value < """ + str(value[1]*1000000) + ")")

select_query = """SELECT b.b_id, 
    b.b_lat as b_latitude,
    b.b_long as b_longitude, 
    sum(r.coll_before) AS col_before, 
    sum(r.coll_during) AS col_during, 
    sum(r.coll_after) AS col_after,
    min(b.b_value) """
from_query = """FROM buildings b INNER JOIN Coll_Within_One_Year_of_Const r ON b.b_id = r.build_id """
group_by_query = """ GROUP BY b.b_id, b.b_lat, b.b_long"""
whole_query = str(select_query + from_query + where_query + group_by_query)
print(whole_query)
crsr.execute(whole_query)
temp = pd.DataFrame(crsr.fetchall())
temp.columns = list(map(lambda x: x[0], crsr.description))
temp
#     temp['b_latitude'] = temp.b_latitude.astype(float)
#     temp['b_longitude'] = temp.b_longitude.astype(float)
#     return draw_markers.place_maps(temp)

SELECT b.b_id,
    b.b_lat as b_latitude,
    b.b_long as b_longitude,
    sum(r.coll_before) AS col_before,
    sum(r.coll_during) AS col_during,
    sum(r.coll_after) AS col_after,
    min(b.b_value) FROM buildings b INNER JOIN Coll_Within_One_Year_of_Const r ON b.b_id = r.build_id WHERE b.b_value < 1500000 GROUP BY b.b_id, b.b_lat, b.b_long

,b_id,b_latitude,b_longitude,col_before,col_during,col_after,min(b.b_value)
0,6153914,47.55680616,-122.3864579,11,31.383178,43,12859426
1,6180940,47.61582105,-122.3461666,319,313.279352,283,14982063
2,6226141,47.64464664,-122.3261037,37,44.031746,32,10618568
3,6268969,47.62490137,-122.3655399,60,0.000000,49,13627890
4,6281378,47.67054426,-122.3880165,47,55.020188,56,11750000
5,6282461,47.56965147,-122.2901043,57,47.007576,47,1099065
6,6284321,47.61698493,-122.3319657,255,238.671199,50,142981553
7,6285721,47.60911773,-122.3383204,435,365.927573,0,103861514
8,6294017,47.64866803,-122.3839158,26,23.347548,24,1005000
9,6295045,47.66414599,-122.3166552,55,166.877432,161,12567914
10,6300774,47.60246647,-122.3177232,63,155.853994,151,12818877
11,6303152,47.66249799,-122.3167672,132,188.161004,202,13933837
12,6303311,47.61992997,-122.347342,78,173.809524,189,12381178
13,6304715,47.61805139,-122.3104763,26,81.206089,103,1141131
14,6308275,47.61994888,-122.3238534,154,166.630435,180,10137862
15,6310214,47.62491053,-122.3170363,22,52.264261,68,1038263
16,6314549,47.56013448,-122.3864298,41,72.332317,72,13750828
17,6319992,47.67554783,-122.3872397,25,28.042131,22,11596861
18,6321397,47.56083821,-122.3864761,53,74.283920,73,10259705
19,6321779,47.64247214,-122.374609,12,24.798301,23,1056884
20,6330647,47.66786255,-122.3811338,60,114.863459,95,1200000
21,6331518,47.60009582,-122.328416,179,212.051916,204,11597587
22,6332903,47.69321735,-122.3541414,52,47.868852,61,1399632
23,6333247,47.56094981,-122.3530227,4,7.173410,2,1103114
24,6337450,47.66476705,-122.2839396,10,9.311224,16,1174298
25,6338691,47.67062562,-122.3794832,57,98.242991,104,1245069
26,6339834,47.65502413,-122.2979185,10,9.582339,10,1194015
27,6340569,47.61523711,-122.338364,82,241.649366,242,13869001
28,6343550,47.61445083,-122.3227283,200,247.028200,301,1200000
29,6343551,47.61445083,-122.3227283,198,275.623167,240,13465865
...,...,...,...,...,...,...,...
111,6451574,47.66196595,-122.3041538,75,66.599526,56,1100000
112,6453820,47.60413073,-122.304823,108,83.822674,66,1134511
113,6454720,47.65141461,-122.3431969,71,63.504065,49,1300000
114,6455573,47.69172722,-122.3426662,92,94.317227,1,1378399
115,6456300,47.7324989,-122.3438107,60,66.448718,73,1019455
116,6456899,47.64322982,-122.3850883,6,8.488372,3,1052947
117,6458687,47.61894243,-122.3544838,132,107.445887,116,11355604
118,6459262,47.62192794,-122.3576693,134,147.783595,63,10836537
119,6459558,47.65443675,-122.3276276,27,28.550613,3,1141169
120,6461320,47.67402392,-122.2637024,9,6.063123,6,1100786
121,6464023,47.64307372,-122.3850734,5,9.020913,3,1052947
122,6470571,47.68240595,-122.3253141,50,44.771310,10,1291200
123,6471782,47.55189388,-122.3819111,33,26.501650,21,1167660
124,6472951,47.71250742,-122.3550567,21,16.976744,19,1309240
125,6475222,47.61782102,-122.3158051,188,158.425532,82,1389673
126,6477308,47.66570781,-122.2803019,24,19.749499,10,1255202
127,6483608,47.71573816,-122.3353047,11,11.431767,4,1117164
128,6485563,47.58929449,-122.3157099,29,21.928295,1,1028920
129,6485840,47.68187905,-122.2881326,29,19.729730,22,1026361
130,6488356,47.60247849,-122.3210096,160,120.348297,6,1209754
131,6489404,47.6939539,-122.3542616,41,31.776471,0,1427490
132,6494029,47.62573494,-122.3196089,64,44.467005,20,1477470
133,6498620,47.56574477,-122.377096,62,60.833333,21,1029686
134,6499091,47.53942119,-122.3714939,18,4.000000,5,1318740
135,6499094,47.54006786,-122.371511,20,14.220779,7,1114986
136,6499097,47.54078431,-122.371498,24,23.440367,11,1114986
137,6507010,47.61932384,-122.3039166,67,62.518892,45,1056557
138,6511148,47.58762597,-122.3066973,85,69.958333,45,1400000
139,6524262,47.59363323,-122.2963906,23,21.962751,12,1218348
140,6524354,47.7329444,-122.3426582,70,78.417969,11,1457948

# Everything below here is work in progress

In [ ]:
def filter_collision_victims(victims):
    if victims = "Cyclist":
        where_clause = "WHERE c_cyc = 1 "
    if victims = "Pedenstrian":
        where_clause = "WHERE c_ped = 1 "
    if victims = "Pedestrian or Cyclist":
        where_clause
    
    select_query = ""

In [142]:
def col_ped_bike_interact(victims):

    where_query = str("""WHERE b.b_id = r.build_id and (b.b_value > """ + str(min_value) + ")") # """ AND b.b_value < """ + str(max_value) + ")")
    select_query = """SELECT b.b_id as b_id, 
    b.b_lat as b_latitude,
    b.b_long as b_longitude, 
    sum(coll_before) AS col_before, 
    sum(coll_during) AS col_during, 
    sum(coll_after) AS col_after """
    from_query = """FROM buildings b, Collision_count_BDA_Const_all r """
    group_by_query = """ GROUP BY b.b_id"""
    whole_query = str(select_query + from_query + where_query + group_by_query)
    print(whole_query)
    crsr.execute(whole_query)
    temp = pd.DataFrame(crsr.fetchall())
    temp.columns = list(map(lambda x: x[0], crsr.description))
    temp['b_latitude'] = temp.b_latitude.astype(float)
    temp['b_longitude'] = temp.b_longitude.astype(float)
    return draw_markers.place_maps(temp)

In [101]:
def my_func(value):
    value = value
    return value[0], value[1]

widgets.interact(my_func, value=widgets.IntRangeSlider(value=[0, 300], min=0, max=300, step=10,
                                                           description='boo',
                                                           continuous_update=False
                                                           )
                              )

interactive(children=(IntRangeSlider(value=(0, 300), continuous_update=False, description='boo', max=300, step…