In [1]:
import branca
import csv
import datetime
import folium
import sqlite3
from sqlalchemy import create_engine
import ipywidgets as widgets
import numpy as np
import pandas as pd
import draw_markers
import table_builder

In [2]:

with open('data/radius.csv',encoding='ascii',errors='ignore') as csvfile:
    radius = pd.read_csv(csvfile)

In [3]:
def normalize_BDA_count(dataset, num_days):
    build_end_dt = dataset.build_end_dt.apply(lambda x: datetime.datetime.strptime(x, "%Y-%m-%d"))
    build_start_dt = dataset.build_start_dt.apply(lambda x: datetime.datetime.strptime(x, "%Y-%m-%d"))
    coll_dt = dataset.coll_dt.apply(lambda x: datetime.datetime.strptime(x, "%Y-%m-%d"))
    
    coll_after = ((coll_dt - build_end_dt)/np.timedelta64(1,'D')).astype(int)
    coll_before =((coll_dt - build_start_dt)/np.timedelta64(1,'D')).astype(int)
    coll_during = np.where(((coll_after<0)&(coll_before>0)),0,1)

    coll_days_from_build = np.zeros(len(build_end_dt))

    for i in range(0,len(build_end_dt)):
        if coll_during[i] == 0:
            coll_days_from_build[i] = 0
        elif coll_after[i] > 0:
            coll_days_from_build[i] = coll_after[i]
        else:
            coll_days_from_build[i] = coll_before[i]

    raw_coll_before = np.where(((build_start_dt > coll_dt) & (coll_dt > (build_start_dt - datetime.timedelta(days = num_days)))), 1, 0)
    raw_coll_after = np.where(((build_end_dt < coll_dt) & (coll_dt < (build_end_dt + datetime.timedelta(days = num_days)))), 1, 0)
    raw_coll_during = np.where(((build_end_dt >= coll_dt) & (build_start_dt <= coll_dt)), 1, 0)
    days_during = (build_end_dt-build_start_dt)
 
    days_during = (days_during/np.timedelta64(1,'D')).astype(int) 
    adjustment_factor = num_days/days_during
    adjusted_coll_during = raw_coll_during * adjustment_factor
    
    dataset['coll_before'] = raw_coll_before
    dataset['coll_during'] = adjusted_coll_during
    dataset['coll_after'] = raw_coll_after
    dataset['coll_days_from_build'] = coll_days_from_build
    dataset = dataset.iloc[:,1:]
    return dataset

Coll_Within_One_Year_of_Const =  normalize_BDA_count(radius, 365)
# Coll_Within_One_Year_of_Const.to_csv('data/Coll_Within_One_Year_of_Const.csv')

In [4]:
Coll_Within_One_Year_of_Const

,build_end_dt,build_id,build_lat,build_long,build_start_dt,coll_dt,coll_id,coll_lat,coll_long,radius,coll_before,coll_during,coll_after,coll_days_from_build
0,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2013-03-26,162244723,47.628446,-122.342315,1334.548944,0,0.000000,0,-759.0
1,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2013-04-02,162245024,47.633693,-122.342283,590.318832,0,0.000000,0,-752.0
2,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2016-03-27,162246458,47.632299,-122.344886,736.677075,0,0.427902,0,0.0
3,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2014-12-20,162246547,47.630997,-122.342292,410.916863,1,0.000000,0,-125.0
4,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2016-06-23,162246563,47.632300,-122.342281,117.684655,0,0.427902,0,0.0
5,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2013-04-19,162371491,47.632411,-122.340922,270.469861,0,0.000000,0,-735.0
6,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2013-04-20,162371644,47.634733,-122.343472,1036.534100,0,0.000000,0,-734.0
7,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2013-01-14,162371934,47.634733,-122.343472,1036.534100,0,0.000000,0,-830.0
8,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2013-03-08,162373361,47.628278,-122.340419,1439.965767,0,0.000000,0,-777.0
9,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2013-01-18,162373583,47.629309,-122.343532,1091.567953,0,0.000000,0,-826.0
10,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2013-05-18,162373758,47.632724,-122.345951,1021.479291,0,0.000000,0,-706.0
11,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2013-01-07,162372689,47.629712,-122.341007,897.377988,0,0.000000,0,-837.0
12,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2013-01-02,162373077,47.633591,-122.340525,644.435016,0,0.000000,0,-842.0
13,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2013-06-04,162375156,47.632857,-122.343500,480.090560,0,0.000000,0,-689.0
14,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2013-06-06,162375278,47.629735,-122.346223,1367.322665,0,0.000000,0,-687.0
15,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2013-05-04,162375781,47.634733,-122.343472,1036.534100,0,0.000000,0,-720.0
16,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2013-06-14,162376040,47.635550,-122.340450,1311.255675,0,0.000000,0,-679.0
17,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2013-05-20,162374607,47.630571,-122.346245,1203.810860,0,0.000000,0,-704.0
18,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2013-07-10,162377135,47.630152,-122.342300,714.961078,0,0.000000,0,-653.0
19,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2013-06-29,162377516,47.630997,-122.342292,410.916863,0,0.000000,0,-664.0
20,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2013-06-28,162377684,47.633591,-122.340525,644.435016,0,0.000000,0,-665.0
21,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2013-07-17,162377799,47.634987,-122.342285,1059.170407,0,0.000000,0,-646.0
22,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2013-07-10,162377988,47.628446,-122.342315,1334.548944,0,0.000000,0,-653.0
23,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2013-07-04,162378024,47.628446,-122.342315,1334.548944,0,0.000000,0,-659.0
24,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2013-07-25,162378042,47.633420,-122.342283,492.169462,0,0.000000,0,-638.0
25,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2013-07-19,162378049,47.630152,-122.342300,714.961078,0,0.000000,0,-644.0
26,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2013-09-11,162379147,47.629720,-122.342304,871.463179,0,0.000000,0,-590.0
27,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2013-09-11,162379252,47.633591,-122.340525,644.435016,0,0.000000,0,-590.0
28,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2013-09-12,162379841,47.630154,-122.343525,811.545914,0,0.000000,0,-589.0
29,2017-08-24,6401146,47.632094,-122.341914,2015-04-24,2013-07-10,162378143,47.630571,-122.346245,1203.810860,0,0.000000,0,-653.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228252,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2016-11-09,162436943,47.616140,-122.345132,775.124176,0,0.000000,0,877.0
228253,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2016-12-02,162436963,47.612429,-122.348881,1282.495256,0,0.000000,0,900.0
228254,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2016-10-13,162437033,47.616140,-122.345132,775.124176,0,0.000000,0,850.0
228255,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2016-11-17,162437076,47.616365,-122.342646,924.144802,0,0.000000,0,885.0
228256,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2016-11-09,162437083,47.613755,-122.349138,1200.016168,0,0.000000,0,877.0
228257,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2018-01-13,162439156,47.616140,-122.345132,775.124176,0,0.000000,0,1307.0
228258,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2018-02-14,162439186,47.615027,-122.348318,1048.619304,0,0.000000,0,1339.0
228259,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2018-02-15,162439201,47.610681,-122.341958,1371.217090,0,0.000000,0,1340.0
228260,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2018-02-06,162439203,47.614110,-122.339822,1104.146372,0,0.000000,0,1331.0
228261,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2018-02-27,162439337,47.613498,-122.341764,661.432015,0,0.000000,0,1352.0
228262,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2018-02-22,162439341,47.612117,-122.342401,858.855510,0,0.000000,0,1347.0
228263,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2018-01-18,162439563,47.617987,-122.342409,1495.804144,0,0.000000,0,1312.0
228264,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2018-01-18,162439584,47.613342,-122.338522,1450.769600,0,0.000000,0,1312.0
228265,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2018-01-27,162439645,47.616144,-122.345060,772.096301,0,0.000000,0,1321.0
228266,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2018-03-07,162439813,47.611726,-122.347036,1095.574524,0,0.000000,0,1360.0
228267,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2018-03-06,162440122,47.614307,-122.350072,1426.318082,0,0.000000,0,1359.0
228268,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2018-01-24,162438153,47.612221,-122.347093,969.540473,0,0.000000,0,1318.0
228269,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2018-02-08,162438156,47.613603,-122.343925,200.497777,0,0.000000,0,1333.0
228270,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2017-12-27,162438358,47.613480,-122.348673,1101.863108,0,0.000000,0,1290.0
228271,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2018-02-25,162438479,47.612502,-122.343053,656.018638,0,0.000000,0,1350.0
228272,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2018-02-02,162438586,47.616140,-122.345132,775.124176,0,0.000000,0,1327.0
228273,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2018-01-22,162438853,47.610404,-122.343472,1360.333434,0,0.000000,0,1316.0
228274,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2018-01-12,162438871,47.617134,-122.343947,1113.432290,0,0.000000,0,1306.0
228275,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2018-02-23,162438886,47.614144,-122.347813,867.131760,0,0.000000,0,1348.0
228276,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2018-02-14,162438894,47.615084,-122.347419,850.647421,0,0.000000,0,1339.0
228277,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2018-01-15,162438938,47.616140,-122.345132,775.124176,0,0.000000,0,1309.0
228278,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2018-02-28,162438965,47.610321,-122.343637,1384.947106,0,0.000000,0,1353.0
228279,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2018-01-08,162439087,47.612833,-122.342624,617.242614,0,0.000000,0,1302.0
228280,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2017-09-22,162439093,47.611400,-122.342184,1111.631996,0,0.000000,0,1194.0
228281,2014-06-16,6322502,47.614091,-122.344299,2013-05-03,2018-01-17,162439105,47.615361,-122.347887,999.077313,0,0.000000,0,1311.0